body{
    background-color: #7ba1ff;
    display: flex;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.h1 {
    position: relative;
    padding-top: 25px;
    text-align: center;
    overflow: hidden;
    height: 23px;

}
.polosa1 {
    position: absolute;
    left: 30%;
    top: -10px;
    background: #f2f3f7;
    padding: 0 10px;
}

input:invalid {
    border: 1px solid #c3ced5;
    border-radius: 5px;
    width: 250px;
}
input:valid {
    border: 1px solid #c3ced5;
    border-radius: 5px;
}

input[type=text] {
    width: 123px;
}

.button{
    width:250px;
    height:25px;
    border-radius: 5px;
    background-color: #4ea64f;
    color: white;
}

.box.my-flex-container{
    max-width: 500px;
    max-height: 600px;
    width: 370px;
    height: 320px;
    background-color: #f2f3f7;
    box-sizing: border-box;
    border-radius: 7px;
    margin: auto;
    text-align: center;
}

a{
    color: #4ea64f;
    text-decoration-line: none;
}